.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
  white-space: nowrap;
}

.logo-highlight {
  color: var(--primary-cyan);
}

/* Middle: Search Box */
.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-input {
  padding: 0.3rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.search-input input {
  outline: none;
  border: none;
  margin-left: 8px;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
}

.search-input:focus-within {
  border-color: var(--primary-cyan);
}

.search-icon {
  color: gray;
  padding: 4px;
}

/* Right: Icons and Avatar */
/* .header-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
} */

.header-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification-icon {
  color: #006aff;
  margin-left: 0.625rem;
  border: 1px solid #e2e8f0;
}

.add-icon {
  background: #1e4adb;
  color: white;
}

.avater {
  width: 130%;
  background-color: var(--primary-cyan);
  padding: 0.3rem;
  border-radius: 8px;
}


.header-middle {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .header-left {
    gap: 1rem;
  }

  .header-right {
    gap: 0.75rem;
  }

  .logo {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 425px) {
  .hamburger-wrapper {
    display: block;
  }

  .header-left {
    justify-content: space-between;
  }

  .header-middle {
    display: none; 
  }
}